div#menu a
{
  display: inline-flex;
  float: right;
  background-color: #39f1f8;
  transition: background-color 2s;
  color: white;
  text-decoration: none;
  padding: 5px; margin: 1px;
  border-radius: 5px;
}
div#menu a:hover
{
  background-color: #05a5ab;
}